<div class="bg-purple-50 w-full flex flex-col justify-center items-center sticky inset-0 z-10">
  <h1 class="text-[10rem] tracking-widest font-semibold uppercase">CREATE</h1>
</div>

<div class="w-3/5 flex flex-col justify-center px-4">
  <%= form_with model: @article do |form| %>
    <% if @article.errors.any? %>
      <div>
        <% @article.errors.full_messages.each do |message| %>
          <h1>
            <%= message %>
          </h1>
        <% end %>
      </div>
    <% end %>

    <div class="w-full flex flex-col justify-center items-center gap-4 px-3 uppercase tracking-wider font-semibold">
      <div class="w-full flex items-center justify-between">
        <%= form.label :title, class:"w-1/4" %>
        <%= form.text_field :title, class:"w-full bg-transparent rounded-lg border-2 border-slate-700 border-dotted p-2 font-serif" %>
      </div>

      <div class="w-full flex items-center justify-between">
        <%= form.label :author_name, "Author", class:"w-1/4" %>
        <%= form.text_field :author_name, class:"w-full bg-transparent rounded-lg border-2 border-slate-700 border-dotted p-2 font-serif" %>
      </div>

      <div class="w-full flex items-center justify-between">
        <%= form.label :body, class:"w-1/4" %>
        <%= form.text_area :body, class:"resize-none w-full h-[10rem] bg-transparent rounded-lg border-2 border-slate-700 border-dotted overflow-y-auto p-2 font-serif font-light" %>
      </div>

      <%= form.button "Create Post", class:"btn__main" %>
      <%= link_to 'Home', articles_index_path, class:"btn__main flex justify-center items-center" %> 
    </div>
  <% end %>
</div>
