<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="bg-purple-50 w-full h-screen min-h-full flex flex-col justify-start items-center gap-6 text-slate-800 overflow-y-auto">
      <div class="w-4/5 sm:w-1/4 h-auto sticky inset-0 z-20 bg-purple-50">
        <% flash.each do |type, message| %>
          <% if type == "alert" %>
            <div class="text-red-500 mt-2 py-2 px-4 rounded-lg text-xs tracking-wider font-semibold border-2 border-red-500 border-dashed">
              ** <%= message %>
            </div>            
          <% else %>
            <div class="text-green-500 mt-2 py-2 px-4 rounded-lg text-xs tracking-wider font-semibold border-2 border-green-500 border-dashed">
              ** <%= message %>
            </div>
          <% end %>          
        <% end %>
      </div>

      <%= yield %> 
    </main>
  </body>
</html>